<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.scm.dao.AccountMapper">
 
  <resultMap id="AccountResultMap" type="cn.itcast.scm.entity.Account">
    <id column="acc_id" jdbcType="INTEGER" property="accId" />
    <result column="acc_login" jdbcType="VARCHAR" property="accLogin" />
    <result column="acc_name" jdbcType="VARCHAR" property="accName" />
    <result column="acc_pass" jdbcType="VARCHAR" property="accPass" />
  </resultMap>

 	<select id="login" parameterType="Account" resultMap="AccountResultMap">
 		select *
 		from account
 		where acc_login=#{accLogin} and acc_pass=#{accPass}
 	
 	</select>
</mapper>